body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.txtfo{
    color: white;
}
.img{
    background-image: url(../img/muerte.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px;
}
.btn{
    background-color: white;
    color: black;
    border-color: black;
    width: 30%;
}
.btn:hover{
    background-color:rgb(151, 148, 148);
    color: white;
    border-color: black;
}
.slogan p{
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.bg{
    background-color: #018E97;
}
.bg-custom {
    background-color: #018E97;
}